
<div>
  <h2> Sign Up </h2>
  <form method="POST" action="/signup">
  <Label>Name</Label>
  <input type="text" name="name">
  {{#if name }}
  {{>errorPartial name}}
  {{/if}}

  <Label>Email</Label>
  <input type="email" name="email">
  {{#if email }}
  {{>errorPartial email}}
  {{/if}}

  <Label>Password</Label>
  <input type="password" name="password">
  {{#if password }}
  {{>errorPartial password}}
  {{/if}}

<button type="submit"> Submit </button>
{{#if errorMessage}}
{{>errorPartial errorMessage}}
{{/if}} 
  </form>
</div>