<div class="index">
  <div class="d-flex justify-content-center align-items-end">
<a class="btn-index rounded-pill border border-secondary btn btn-secondary btn-lg" style= "background-color: #A0FFE3; color: #575267" href="/signup">Sign up</a>
</div>
</div>


