<div class="index">
<div class="btn-index">
<a class="rounded-pill border border-secondary btn btn-secondary btn-lg mt-3 pl-5 pr-5" style= "background-color: #A0FFE3; color: #575267" href="/signup">Sign up</a>
</div>
</div>


