
<div class="container-fluid p-0 m-0">

    <div class="index">
       <div class="d-flex justify-content-center">
          <a class="btn-index rounded-pill border border-0 btn btn-secondary btn-lg" style= "background-color: #A0FFE3; color: #575267" href="/signup">Sign up</a>
        </div>
      </div>
<div class="d-flex justify-content-center ">
<div class=" d-flex flex-row">
<div class="row">
  <div class="col-sm-4">
    <div class="card-index mr-5 ml-2">
      <div class="card-body crd-index">
         <img src="images/aboutUs.png" style="width: 250px; height: 250px;">
        <h5 class="card-title">About us</h5>
        <p class="card-text">We are a platform that helps beginners to create a relevant portfolio through projects and knowledge shared with people from other areas of technology</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card-index mr-5 ml-2">
      <div class="card-body crd-index ">
        <img src="images/connections.png"style="width: 260px; height: 260px;">
        <h5 class="card-title">Our main goal</h5>
        <p class="card-text">Our main goal is to connect people through technology and encourage cooperation among them within the area.</p>
      </div>
    </div>
  </div>
<div class="col-sm-4">
    <div class="card-index ml-2">
      <div class="card-body crd-index">
        <img src="images/comofunciona.png" style="width: 250px; height: 250px;">
        <h5 class="card-title">How it works</h5>
        <p class="card-text">You just need to sign up on the platform, and in your profile, you can create your projects to be published in the project feed. You can also see the other people's projects and get contact with the person who creat to share your skills.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>