<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  
</head>
<body>
<nav class="navbar-layout py-0 py-md-0 navbar fixed-top navbar-expand-lg navbar-light" style="background-color:#A0FFE3;">
   <a class="navbar-brand" href="/" style="color:#575267;">Home</a>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#" style="color:#575267;">About us<span class="sr-only"></span></a>
      <a class="nav-link" href="/project-feed" style="color:#575267;">Feed</a>
      <a class="nav-link" href="/login" style="color:#575267;">Login</a>
    </div>
   </div>
</nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>