body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
}

a {
  color: #00b7ff;
}

.index {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 3em;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn-index {
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
  height: 50px;
}

.btn-index:hover {
  box-shadow: 0 0 10px 4px white;
}

.auth-config {
  background-image: url("/images/default2.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-profileEdit{
  background-image: url("/images/default2.png");
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  background-color: #575267;
  border: 3px solid #a0ffe3;
  padding: 50px;
  border-radius: 20px;
  opacity: 1;
  margin-top: 3rem;
  width: 500px;
}

.btn-form:hover {
  box-shadow: 0 0 10px 4px white;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: auto;
  padding: 20px;
  width: 300px;
}

.profile-container {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-profile {
  background-color: #575267;
  border: 3px solid #a0ffe3;
  width: 60rem;
  height: 24rem;
  padding-top: 1rem;
  border-radius: 20px;
  margin-left: 1rem;
}

.profile-card {
  border: 3px solid #a0ffe3;
  background-color: #a0ffe3;
  border-radius: 20px;
  width: 700px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btn-profile {
  width: 10rem;
}

.btn-profile:hover {
  box-shadow: 0 0 10px 4px white;
}

.card-img {
  border: 2px solid  #a0ffe3;
}

.project-card {
  display: flex;
  justify-content: space-around;
}

.card-info{
  border: 2px solid #575267;
  border-radius: 0.5rem;
}

.btn-feed {
  width: 8rem;
}

.btn-feed:hover {
  box-shadow: 0 0 10px 4px white;
}

.feed-config{
  background-image: url("/images/default2.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.feed-form{
  background-color: #575267;
  border: 3px solid #a0ffe3;
  border-radius: 20px;
  opacity: 1;
  width: 500px;
  height: 550px;
}

.form-group{
  width: 400px;
  margin-left: 1rem;
}

.btn-form-feed{
  width: 20rem;
}

.btn-form-feed:hover {
  box-shadow: 0 0 10px 4px white;
}
 .card-index{
   box-sizing: border-box;
   width: 300px ;
   display: flex;
   justify-content: space-around;
 }