<h2>Create a project</h2>

<div class="row">
  <div class="col-md-6">
    <form action="/project-create" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label for="title-input">Title:</label>
        
      </div> 
      <input type="text" name="title" id="title-input" class="form-control" />                                   
      <div class="form-group">
        <label for="description-input">Description:</label>
        <textarea name="description" id="description-input" cols="30" rows="4" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="image-input">Image:</label>
        <input type="file" name="image" id="image-input" class="form-control-file" />
      </div>
      <div class="form-group">
        <label for="typeOfskills-input">Requierd Skills:</label>
        <input type="text" name="typeOfskills" id="typeOfskills-input" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form> 
  </div>
</div>