<h1>Feed</h1>
<hr>
{{!-- {{#each project}}
  <div>
    <h3>{{title}}</h3>
    <a href="/project-feed/{{_id}}/project-edit">Edit</a>
  </div>
  <hr>
{{/each}} --}}
<a href="/project-create">Creat Project</a>